node_modules
.DS_Store
/Users/kayladong/Documents/Documents - Mineuchi - 1/github repos/team-profile-generator/dist/style.css
/Users/kayladong/Documents/Documents - Mineuchi - 1/github repos/team-profile-generator/src/template.html